 .nav-bar {
     position: sticky;
     top: 0;
     width: 100%;
     background-color: #494747;
     padding: 5px 0;
 }

 .nav-bar-inner {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
 }

 .nav-bar-inner {
     margin: 0 10%;
 }

 .logo {
     margin: 0;
     font-size: 32px;
     color: #90BFE5;
     cursor: pointer;
 }

 .links {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 15px;
 }

 .logo-btn {
     text-align: center;
     width: 100px;
     color: #D5D5D5;
     padding: 5px;
     cursor: pointer;
 }

 .logo-btn:hover {
     background: #6e6d6d;
     border-radius: 50px;
 }

 .registration-btn {
     cursor: pointer;
     color: #000000;
     padding: 5px 15px;
     background-color: #D5D5D5;
     border-radius: 50px;
 }

 .registration-link {
     position: relative;
 }

 .registration-dropdown-menu {
     position: absolute;
     display: flex;
     flex-direction: row;
     top: 120%;
     left: 50%;
     transform: translateX(-50%);
     background-color: #D5D5D5;
     border-radius: 10px;
 }

 .registration-dropdown-menu div {
     cursor: pointer;
     text-align: center;
     padding: 5px 10px;
 }

 .registration-dropdown-menu div:hover {
     background-color: hsl(0, 0%, 77%);
     border-radius: 10px;
     border-top-right-radius: 0px;
     border-bottom-right-radius: 0px;
 }

 .registration-dropdown-menu>div+div {
     border-left: 1px solid black;
 }

 .registration-dropdown-menu>div+div:hover {
     border-radius: 0px;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
 }

 .registration-dropdown-menu::before {
     content: "";
     position: absolute;
     top: -6px;
     /* adjust to move triangle closer/farther from the menu */
     left: 58%;
     transform: translateX(-50%);
     width: 0;
     height: 0;
     border-left: 6px solid transparent;
     border-right: 6px solid transparent;
     border-bottom: 6px solid #D5D5D5;
     /* same color as the menu */
     pointer-events: none;
 }

 .hamburger-open,
 .hamburger-close,
 .mobile-links {
     cursor: pointer;
     display: none;
 }

 @media (max-width: 650px) {

     .links {
         display: none;
     }

     .hamburger-open, .hamburger-close {
         display: block;
     }

     .mobile-links {
         display: flex;
         flex-direction: column;
         align-items: center;
         position: absolute;
         top: 50px;
         left: 0px;
         right: 0px;
         text-align: center;
         background: #494747;
         padding: 20px;
     }
 }