 .nav-bar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #494747;
    padding: 5px 0;
}

.nav-bar-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-inner {
    margin: 0 10%;
}

.logo {
    margin: 0;
    font-size: 32px;
    color: #90BFE5;
    cursor: pointer;
}

.links a {
    margin: 0 15px;
    text-decoration: none;
}

.links a:nth-child(1) {
    color: #D5D5D5
}

.links a:nth-child(2) {
    color: #000000;
    padding: 5px 15px;
    background-color: #D5D5D5;
    border-radius: 50px;
}